.form {
  width: 70%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 25px;
}
.form__title {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
}

.form__body {
  margin-top: 0.5rem;
}

.form__body input,
.form__body label,
.form__body select,
.form__body option {
  display: block;
}

.form__body label {
  margin-bottom: 0.5rem;
  font-weight: 800;
  font-size: 1rem;
}

.form__body input,
.form__body select,
.form__body option {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  width: 850px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form__body input:focus,
.form__body select:focus,
.form__body option:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.invalid input,
.invalid select,
.invalid option {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus,
.invalid select:focus,
.invalid option:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.form__actions {
  text-align: center;
  padding: 20px 0;
}


.form__actions button {
  background-color: #bae800;
  border: 1px solid #bae800;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}

.form__actions button:hover,
.form__actions button:active {
  background-color: #ccff00;
  border-color: #ccff00;
}

.form__actions button:active {
  transform: scale(0.95);
}

.form__actions button:disabled,
.form__actions button:disabled:hover,
.form__actions button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.error_text {
  margin: 2px 0 0 0;
  color: #b40e0e;
  font-size: 0.8rem;
}

.error_textopcaity_zero {
  opacity: 0;
}

.error_textopcaity_hundred {
  opacity: 100%;
}

.radio_base {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.radio_para{
    margin-bottom: 0.5rem;
    font-weight: 800;
    font-size: 1rem;
    padding: 0 50px 0 0;
    margin: 0;
  }


.radio_Btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio_container {
    display: flex;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;


    font-weight: 700;
    font-size: 1rem;
    margin: 0;
}

.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }



  .radio_checkmark {
    position: absolute;
    top: -5;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  .radio_container:hover input ~ .radio_checkmark {
    background-color: #aaa;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio_container input:checked ~ .radio_checkmark {
    background-color: #0a0a0a;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio_container input:checked ~ .radio_checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio_container .radio_checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ccff00;
  }
